<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/student.css}">
    <title>Document</title>
</head>
<body>

<h1 th:text="${greeting}">Hello world</h1>

<form th:action="@{/student}" method="post" th:object="${student}">
    <!--form data-->
    <input type="text" th:field="*{name}">
    <input type="text" th:field="*{code}">
    <input type="text" th:field="*{program}">

    <!-- Submit action -->
    <button>Submit</button>

</form>


<ul>
    <li th:each="student : ${students}">
        <a th:text="${student.id}" th:href="@{/student/detail/{id}(id=${student.id})}"></a>
        <strong th:text="${student.name}"></strong>
    </li>
</ul>

</body>
</html>